*{margin: 0;padding: 0;}
ul,ol{list-style: none;}

a {color:rgb(85, 85, 85)}
.no-underline{ text-decoration:none;}

.header{
	height: 32px;
	border: 1px solid #ebebeb;
}
.header a{
	font-size: 13px;
	font-weight: bold;
	display: inline-block;
	margin-left: 20px;
	height: 32px;
	line-height: 32px;
}
.u-func-menus{
	position: absolute;
	top: 0;
	left: 20px;
	width: 40%;
}
.u-func-menus a{
	font-weight: normal;
	margin-left: 15px;
}
.u-sites{
	position: absolute;
	top:0;
	right: 20px;
	width: 50%;
	text-align: right;
}
.wraper {
	margin: 0 auto;
	text-align: center;
}
.bd-logo{
	display: inline-block;
	margin: 10px auto;
}
#search{
	width: 521px;
    height: 20px;
    padding: 9px 7px;
    font: 16px arial;
    border: 1px solid #b8b8b8;
    border-bottom: 1px solid #ccc;
    border-right: 0;
    vertical-align: top;
    outline: none;
    box-shadow: none;
}
#search:focus{
	border-color: #99f;
}
.search-btn{
	display: inline-block;
	width: 102px;
	height: 40px;
	line-height: 40px;
	color: white;
	text-decoration: none;
	background-color: #38f;
	padding: 0;
	margin-left: -10px;
}